/* This contains constants to be used throughtout the css files */

// padding variables
$padding-small: 1rem;
$padding-medium: 3rem;
$padding-large: 6rem;

// font-variables
$font-small: 2rem;


//background-color variables