<div class="jumbotron text-center">
	<h1><span class="sample">Hello!</span> I'm {{Name}}</h1>
	<p>{{aboutMe}}</p>
	<p class="fill-text">I also see myself as a {{hobbyList}}</p>
	<!-- For loop consisting of all the hobbies listed out. This must fill out half a page -->
<!-- 	I am a full stack developer, a marathon runner, a vocalist, a musician. I like driving my motorbike. I travel solo to different parts of the country during myu free time. I am also interested in learning new technologies and keeeping myself updated. 
	I am a self taught learner. I see myself as a creator of beautiful code which is effecient and and scalable. 

	Running is something that frees me off my worries. It has taught me to fight for my goals, to push myself to reach there. What started as a stressbuster has gifted me of a wonderful change in my life. 
 	<p>This page demonstrates <span class="text-danger">nested</span> views.</p>
	<a ui-sref=".list" class="btn btn-primary">List</a>
	<a ui-sref=".paragraph" class="btn btn-danger">Paragraph</a>
	<p>{{hobbyResponse}}</p> -->
</div>
<div ui-view></div>